body {
    color: #333;
    font-family: sans-serif;
    padding: 50px;
    background-color: bisque;
}

button {
    color: blue;
    background-color: olivedrab;
    padding: 20px;
    border: 2px solid black;
    margin-bottom: 20px;
    float: right;
    font-size: 40px;
    display: block;
    max-width: 300px;
    margin: 0 auto;
}

h1 {
    font-size: 35px;
    border: 1px dotted blueviolet;
    padding: 20px;
    border-radius: 80%;
    text-align: center;
    color: rgb(50, 142, 111);
    background-color: aqua
}

p {
    text-decoration: blueviolet; 
    font-size: 25px; 
}